on:
  push:
    branches:
    - main
jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-13, macos-14]
    env:
      ORG_GRADLE_PROJECT_ossrhUsername: na
      ORG_GRADLE_PROJECT_ossrhPassword: na
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'corretto'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4.2.1
    - name: Test with Gradle
      run: ./gradlew test
