on:
  push:
    branches:
    - main
jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    env:
      ORG_GRADLE_PROJECT_ossrhUsername: na
      ORG_GRADLE_PROJECT_ossrhPassword: na
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'corretto'
    - name: Build with Gradle
      uses: gradle/actions/setup-gradle@v3.3.1
      with:
        arguments: test
